/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply overflow-x-hidden bg-gray-950 text-gray-300;
}

h1 {
	@apply text-5xl font-bold;
}

h2 {
	@apply text-2xl font-bold;
}

div[data-appzi-dom='1'] {
	@apply !z-review;
}
